<h1 class='center-title'><%= @user.name %>'s Bio</h1>
<% if @bio %>
<%= @bio.description %>
<br />
<%= link_to 'Edit', edit_user_bio_path(@user, @bio) %>

<% else %>
<%= link_to 'Add Bio', new_user_bio_path(@user), class: 'edit-link' %>
<% end %>
