<h1><%= @user.name %>'s Bio</h1>
<%= @user.bio.description %>

<br />
<%= link_to 'Edit', edit_user_bio_path %>
<%= link_to 'Delete', user_bio_path, method: :delete, data: {confirm: 'Are you sure?'} %>
