
    <h1 class='find-someone'>Find Someone To <span>Love</span> You</h1>
    <p class='joke'>&#60;joke> It's Adam and Eve, not Adam and Steve. &#60;/joke></p>
    <%= link_to 'Sign Up', signup_path, class: 'signup' %>
