// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-user {
  background-color: white;
  width: 100%;
  margin-top: 40px;
  color: #F8F9E9;
}

.info-div {
  display: inline-block;
  float: left;
  clear: both;
  margin: -240px 0 0 20px;
}

.user-info {
  margin-bottom: 10px;
  font-size: 12px;
}

.user-info-label {
  color: #CFE0CD;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 5px;
}

.show-user a {
  font-size: 20px;

}

.user-link-div {
  display: inline-block;
  margin: 80px 0 20px 0;
}

.edit-user-links {

  margin: 80px 0 20px 0;
}

.list-user {
  display: inline-block;
  height: 190px;
  width: 300px;
  background-color: #F8F9E9;
  border-radius: 10px;
  margin: 0 0 25px 10px;
}

.user-name {
  text-align: center;
  background-color: transparent;
  font-size: 24px;
}

.user-detail {
  margin: 10px 0 5px 5px;
  color: #141414;
  font-size: 18px;
}

.form-label {
  display: block;
  font-size: 22px;
  margin: 15px 0 -10px 0;
  padding: 0;
}

.info {
  color: #F8F9E9;
  font-style: italic;
  font-size: 32px;
  margin-bottom: 15px;
  text-decoration: underline;
}

.bio-text-area {
  width: 400px;
  height: 400px;
}

.user-link-div {
  display: inline-block;
}

.index-each-user {
  background-color: transparent;
}

.index-each-user:hover {
  background-color: transparent;
}

/*=============================
User Avatar
=============================*/

.show-image-div {
  display: inline-block;
  position: relative;
  float: left;
  left: 40%;
  clear: both;
}

.user-show-image {
  height: 300px;
  width: 300px;
}

.user-index-image {
  height: 80px;
  width: 80px;
  float: right;
  margin: 5px 15px 0 0;
}

.user-matches {

}

.user-matches-div {
  display: inline-block;
  position: relative;
  float: left;
  left: 45%;
  clear: both;
  margin-top: 20px;
}
